name: Connect Cloud Phone

on:
  workflow_dispatch:

jobs:
  connect:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup ADB
        run: sudo apt install adb -y

      - name: Connect to Cloud Phone
        run: bash bash/cloud-connect.sh
